/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

p {
  white-space: pre-line;
  line-height: 32px;
  /* color: #555570; */
}

img {
  display: block;
  /* width: 50%; */
}

table tr {
  display: flex;
  border: none !important;
}
thead {
  border: none;
}

table th,
table td {
  flex: 1;
  text-align: left;
  font-weight: normal;
}

th img,
td img {
  width: 100%;
}

table strong {
  font-size: 18px;
  display: block;
  text-align: left;
  margin: 12px 0;
}
table em {
  font: normal;
  display: block;
  text-align: left;
  margin: 12px 0;
  font-style: normal;
}
